<app-titulo [titulo]="nombre"></app-titulo>
<div class="row mt-5 centrar-tablas">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
       
      </div>
      <div class="col-md-7 div-icon-agregar">
        <a [routerLink]="'../crear'"><i class="bi bi-plus-circle icon-agregar"></i></a>
      </div>
    </div>
    <table datatable class="table"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Sección</th>
          <th>rol</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permi of permiso">
          <td class="col-md-2">{{ permi.idPermiso}}</td>
          <td class="col-md-2">{{ permi.nombre}}</td>
          <td class="col-md-2">{{ permi.seccion}}</td>
          <td class="col-md-2">{{ permi.nombreRol}}</td>
          <td class="col-md-2">
            <div class="row ">
              <i class="bi bi-pencil col-md-3 icon-editar" (click)="editar(permi.idPermiso)"></i>
              <i class="bi bi-trash col-md-2 icon-delete" (click)="eliminar(permi.idPermiso)"></i>
            </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>