<div class="row estiloInicio">
  <div>
    <h2>Principal</h2>
    <div class="form-group row mt-4 text-center justify-content-around">
      <div class="col-md-3">
        <h5 class="center">Consultar mes y año</h5>
        <input
          class="form-control form-control-lg"
          type="month"
          id="mes"
          name="mes"
          [(ngModel)]="fecha"
          (change)="mostrarInformacion()"
        />
      </div>
      <div class="col-md-3 caja-info">
        <h5>Ventas</h5>
        <span>{{ cantidadVentas }}</span>
      </div>
      <div class="col-md-3 caja-info">
        <h5>Ganancias</h5>
        <span>{{ patrimonio | currency: "CAD":"symbol-narrow" }}</span>
      </div>
    </div>
  </div>
</div>
<div class="form-group row mt-4 text-center justify-content-around">
  <div class="col-md-4">
    <canvas
      baseChart
      *ngIf="showPieGrafica"
      [type]="'pie'"
      [datasets]="pieChartValores"
      [labels]="pieGraficaTitulos"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
  <div class="col-md-4">
    <canvas
      *ngIf="showBarrasGrafica"
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'"
    >
    </canvas>
  </div>
</div>
