<app-titulo [titulo]="nombre"></app-titulo>
<div class="row mt-5 centrar-tablas">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-search  "></i></span>
          <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-7 div-icon-agregar">
        <a [routerLink]="'../crear'"><i class="bi bi-plus-circle icon-agregar"></i></a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre cliente</th>
          <th>Fecha de entrega</th>
          <th>Valor final</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ven of ventas">
          <td class="col-md-2">{{ ven.idVenta }}</td>
          <td class="col-md-2">{{ ven.nombreCliente }}</td>
          <td class="col-md-2">{{ ven.fechaEntrega }}</td>
          <td class="col-md-2">{{ ven.valorFinal }}</td>
          <td class="col-md-2">
            <div class="row ">
              <i class="bi bi-pencil col-md-3 icon-editar" (click)="editar(ven.idVenta)"></i>
              <i class="bi bi-trash col-md-3 icon-delete" (click)="eliminar(ven.idVenta)"></i>
            </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>