<app-titulo [titulo]="nombreTitulo"></app-titulo>
<div class="row form-center">
  <form class="col-md-6 mt-4" [formGroup]="formPermiso">
    <div class="row">
      <input class="form-control" type="text" placeholder="Nombre"
        [ngClass]="{ 'is-invalid': validaciones && nombre.errors }" formControlName="nombre">
      <div *ngIf="validaciones && nombre.errors" class="invalid-feedback">
        <div *ngIf="nombre.errors.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="row mt-4">
      <input class="form-control" type="text" placeholder="Descripcion"
        [ngClass]="{ 'is-invalid': validaciones && descripcion.errors }" formControlName="descripcion">
      <div *ngIf="validaciones && descripcion.errors" class="invalid-feedback">
        <div *ngIf="descripcion.errors.required">Campo obligatorio</div>
      </div>
    </div>
    <div class=" row mt-4">
      <select class="custom-select form-control " [ngClass]="{ 'is-invalid': validaciones && seccion.errors }"
        formControlName="seccion">
        <option selected value="">Seleccione seccion</option>
        <option value="panelUsuarios">Panel de Usuarios</option>
        <option value="manofactura">Manofactura</option>
        <option value="PanelVentas">Panel de ventas</option>
        <option value="Asignaciones">Asignaciones</option>
      </select>
      <div *ngIf="validaciones && seccion.errors" class="invalid-feedback">
        <div *ngIf="seccion.errors.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="row mt-4">
      <select class="custom-select form-control" [ngClass]="{ 'is-invalid': validaciones && idRol.errors }"
        formControlName="idRol">
        <option value="" selected>Seleccione rol</option>
        <option *ngFor="let rol of roles" [value]="rol.idRol">
          {{ rol.nombre }}
        </option>
      </select>
      <div *ngIf="validaciones && idRol.errors" class="invalid-feedback">
        <div *ngIf="idRol.errors.required">Campo obligatorio</div>
      </div>

    </div>
    <div class=" text-center mt-5">
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="!id" (click)="guardar()">Crear permiso</button>
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="id" (click)="editar()">Editar
        permiso</button>
    </div>
  </form>
</div>