<app-titulo [titulo]="nombre"></app-titulo>
<div class="row form-center">
  <form class="col-md-6 mt-4 ">
    <div class="row">
      <input class="form-control" type="text" placeholder="Nombre">
    </div>
    <div class=" row mt-4">
      <select class="custom-select form-control ">
        <option selected>Seleccione url</option>
        <option value=" 1">Administrador</option>
        <option value="2">Secretaria</option>
        <option value="3">Otro</option>
      </select>
    </div>
    <div class="row mt-4">
      <select class="custom-select form-control">
        <option selected>Seleccione rol</option>
        <option value=" 1">Administrador</option>
        <option value="2">Secretaria</option>
        <option value="3">Otro</option>
      </select>
    </div>
    <div class=" text-center mt-5">
      <button type="button" class="btn btn-secondary btn-lg mt-4">Crear permiso</button>
    </div>
  </form>
</div>