<app-titulo [titulo]="nombre"></app-titulo>
<div class="row form-center">
  <form class="col-md-6 mt-4 " [formGroup]="formVenta">
    <div class="row">
      <input class="form-control" type="text" placeholder="Id factura" formControlName="idFactura">
    </div>
    <div class="row mt-3">
      <input class="form-control" type="text" placeholder="Nombre del cliente" formControlName="nombreCliente">
    </div>
    <div class="row mt-3">
      <div class=" col-md-12 mt-3 div-icon-agregar" *ngIf="!id">
        <i class="bi bi-plus-circle icon-agregar" data-bs-toggle="modal" data-bs-target="#muebleModal"></i>
      </div>
      <table class="table ">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Valor total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let muebleS of muebleSeleccionados">
            <td class="col-md-4">{{ muebleS.nombre }}</td>
            <td class="col-md-4">{{ muebleS.costoMateriaPrima }}</td>
            <td class="col-md-4"><input type="number" [(ngModel)]="muebleS.valor" name="valor"
                [ngModelOptions]="{standalone: true}" (keyup)="obtenerCostoMueble()"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <input class="form-control" type="number" placeholder="Valor" disabled formControlName="valorFinal">
    </div>
    <div class="form-group  mt-3">
      <div class="row">
        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha de Entrega"
          formControlName="fechaEntrega">
      </div>
    </div>
    <div class=" text-center mt-5">
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="!id" (click)="guardar()">Crear venta</button>
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="id" (click)="editar()">Editar venta</button>
    </div>
  </form>
</div>


<div class="modal fade" id="muebleModal" tabindex="-1" aria-labelledby="muebleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="muebleModalLabel">Seleccionar muebles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> <i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mueble of muebles">
                <td class="col-md-4"> {{mueble.nombre}}</td>
                <td class="col-md-4">{{mueble.costoMateriaPrima}}</td>
                <td class="col-md-4">
                  <div class="form-check modal-checkbox">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="mueble.seleccionar">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="seleccionarMueble()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>