<app-titulo [titulo]="nombreTitulo"></app-titulo>
<div class="row mt-5 centrar-tablas">
  <div class="col-md-8">
    <table class="table">
    <thead>
        <tr>
          <th class="col-md-1">Id</th>
          <th class="col-md-2">Mueble</th>
          <th class="col-md-3">Fecha de entrega</th>
          <th class="col-md-2">Finalizado</th>
          <th class="col-md-2">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let muebleA of muebleAsignados">
          <td class="col-md-1">{{muebleA.idMueble}}</td>
          <td class="col-md-2">{{muebleA.nombre}}</td>
          <td class="col-md-2">{{muebleA.fechaEstimadaEntrega | date:'dd-MM-yyyy'}}</td>
          <td class="col-md-2">
            <div class="form-check modal-checkbox">
              <input type="checkbox" class="form-check-input" [checked]="muebleA.finalizado == 1" disabled>
            </div>
          </td>
          <td class="col-md-2">
            <div class="center col-md-3" >
              <i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#detallesMuebles" (click)="cargarMueble(muebleA)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal detalles mueble -->


<div class="modal fade" id="detallesMuebles" tabindex="-1" aria-labelledby="detallesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header estiloModal">
<h5 class="modal-title" id="detallesModalLabel">Detalle del pedido  <i class="bi bi-cart-check"></i></h5>
      </div>
      <div class="modal-body">
        <div class="container">
        <div class="row mt-3">
          <div class="col-md-4">
          </div>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" disabled class="form-control" id="floatingInputGrid" placeholder="" value="{{mueble.nombreCliente}}">
                <label for="floatingInputGrid">Nombre cliente</label>
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" disabled class="form-control" id="floatingInputGrid" placeholder="" value="{{mueble.nombre}}">
                <label for="floatingInputGrid">Nombre </label>
              </div>
            </div>

            <div class="col-md-6" >
              <div class="form-floating">
                <input type="text" disabled class="form-control" id="floatingInputGrid" placeholder="Descripcion" value="{{mueble.descripcion}}">
                <label for="floatingInputGrid">Descripcion</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="date" disabled class="form-control" id="floatingInputGrid" placeholder=""value="{{mueble.fechaEstimadaEntrega | date:'dd-MM-yyyy'}}">
                <label for="floatingInputGrid">Fecha de entrega</label>
              </div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                    <i class="bi bi-people-fill"></i> Personal asignado 
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div >
                      <table class="table " >
                        <thead>
                          <tr >
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Rol</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let usuario of usuarios" >
                            <td class="col-md-3">{{usuario.nombres}}</td>
                            <td class="col-md-3">{{usuario.apellidos}}</td>
                            <td class="col-md-3">{{usuario.nombreRol}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="bi bi-clipboard2-check"></i> Materia prima asignada 
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div>
                      <table class="table ">
                        <thead >
                          <tr>
                            <th>Nombre</th>
                            <th>Valor</th>
                            <th>Unidades totales</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let materia of materiasPrimas"  >
                            <td class="col-md-3">{{materia.nombre}}</td>
                            <td class="col-md-3">{{materia.valor}}</td>
                            <td class="col-md-3">{{materia.unidades}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="mueble.finalizado == 0" (click)="finalizarMuebleAsignado()">Finalizar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>
  </div>
</div>