<div class="row align-items-center cambiar-contrasena-titulo">
  <h1 class="cambiar-contrasena-letter-spacing">SISRECOIN</h1>
</div>
<div class="row align-items-center cambiar-contrasena-titulo text-center">
  <h1>Recuperar Contraseña</h1>
</div>
<div class="row cambiar-contrasena-center mt-5">
  <div class="col-md-7 text-center">
    <p>Se enviara un correo automaticamente con vigencia de 1 dia para que pueda restablecer su
      cuenta, puede comunicarce con el administrador del sistema
    </p>
    <input type="email" placeholder="Ingrese su correo electronico" class="form-control mt-3" />
    <button type="button" class="btn btn-secondary btn-lg mt-4">Recuperar</button>
  </div>
</div>