<div class="row full-height text-center">
  <div class="col-md-6 login-imagen">
    <h1 class="login-titulo-app">SISRECOIN</h1>
  </div>
  <div class="col-md-6">
    <div class="row align-items-end height-low">
      <h1 class="login-titulo-iniciar-sesion">Iniciar Sesión</h1>
    </div>
    <div class="row login-form-center height-medium">
      <form class="col-md-8" [formGroup]="formAutenticacion">
        <input type="number" placeholder="Cedula" class="form-control mt-3" formControlName="cedula"  />
        <input type="password" placeholder="Contraseña" class="form-control mt-3" formControlName="contrasena" />
        <button type="button " class="btn btn-secondary btn-lg mt-4" (click)="login()">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>