<app-titulo [titulo]="nombre"></app-titulo>
<div class="row mt-5 centrar-tablas">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-7 div-icon-agregar">
        <a [routerLink]="'../crear'"><i class="bi bi-plus-circle icon-agregar"></i></a>
      </div>
    </div>

    <table  datatable class="table"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Unidades</th>
          <th>Valor</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materiaPrima">
          <td class="col-md-2">{{materia.idMateriaPrima}}</td>
          <td class="col-md-2">{{materia.nombre}}</td>
          <td class="col-md-2">{{materia.descripcion}}</td>
          <td class="col-md-2">{{materia.unidades}}</td>
          <td class="col-md-2">{{materia.valor}}</td>
          <td class="col-md-2">
            <div class="row ">
              <i class="bi bi-pencil col-md-3 icon-editar" (click)="editar(materia.idMateriaPrima)"></i>
              <i class="bi bi-trash col-md-3 icon-delete" (click)="eliminar(materia.idMateriaPrima)"></i>
            </div>
        </tr>

      </tbody>
    </table>
  </div>
</div>