<app-titulo [titulo]="nombreTitulo"></app-titulo>
<div class="row form-center height-content-form">
  <form class="col-md-8" [formGroup]="formMueble">
    <div class="form-group row mt-4 ">
      <div class="col-md-6">
        <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Nombre"
          formControlName="nombre">
      </div>
      <div class="col-md-6">
        <select class="custom-select form-control" formControlName="tipo">
          <option value="" selected>Seleccione mueble</option>
          <option value="1">Sala</option>
          <option value="2">Comedor</option>
          <option value="3">Basecama</option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-4">
      <div class=" col-md-12">
        <input type="text" class="form-control" id="nombreCliente" aria-describedby="nombreCliente"
          placeholder="nombreCliente" formControlName="nombreCliente">
      </div>
    </div>
    <div class="form-group row mt-4">
      <div class=" col-md-12">
        <textarea class="form-control" placeholder="Descripcion " rows="2" formControlName="descripcion"></textarea>
      </div>
    </div>
    <div class="row mt-5 centrar-tablas">
      <div class="row">
        <div class="col-md-5 asignar-personal-titulo">
          <h5>Asignar personal</h5>
        </div>
        <div class="col-md-7 div-icon-agregar">
          <i class="bi bi-plus-circle icon-agregar" data-bs-toggle="modal" data-bs-target="#asignarpersonalModal"></i>
        </div>
      </div>
      <div class="row form-center">
        <table class="table ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Rol</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usuariosSeleccionados">
              <td class="col-md-3"> {{ user.idUsuario }}</td>
              <td class="col-md-3"> {{ user.nombres }}</td>
              <td class="col-md-3">{{ user.apellidos }}</td>
              <td class="col-md-3">{{ user.nombreRol }}</td>
              <td class="col-md-2"><input type="number" [(ngModel)]="user.valor" name="valor"
                  [ngModelOptions]="{standalone: true}" (keyup)="obtenerCostoMueble();"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5 centrar-tablas">
      <div class="row">
        <div class="col-md-6 asignar-personal-titulo">
          <h5>Asignar materia prima</h5>
        </div>
        <div class="col-md-6 div-icon-agregar">
          <i class="bi bi-plus-circle icon-agregar" data-bs-toggle="modal"
            data-bs-target="#asignarMateriaPrimaModal"></i>
        </div>
      </div>
      <div class="row form-center">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Nombre</th>
              <th>Valor</th>
              <th>unidades totales</th>
              <th>Unidades</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of materiasPrimasSeleccionados">
              <td class="col-md-2">{{ materia.idMateriaPrima }}</td>
              <td class="col-md-2">{{ materia.nombre }}</td>
              <td class="col-md-2">{{ materia.valor }}</td>
              <td class="col-md-2">{{ materia.unidades }}</td>
              <td class="col-md-2"><input type="number" [(ngModel)]="materia.unidadesDisponibles" name="unidades"
                  [ngModelOptions]="{standalone: true}" (keyup)="obtenerCostoMueble()"></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group row mt-4">
      <div class="col-md-6">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Costo materia prima" formControlName="costoMateriaPrima" disabled>
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha estimada de entrega"
          formControlName="fechaEstimadaEntrega">
      </div>
    </div>
    <div class=" text-center mb-4 mt-4">
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="!id" (click)="guardar()">Crear mueble</button>
      <button type="button" class="btn btn-secondary btn-lg mt-4" *ngIf="id" (click)="editar()">Editar mueble</button>
    </div>
  </form>
</div>

<!-- Modal asignar personal -->

<div class="modal fade" id="asignarpersonalModal" tabindex="-1" aria-labelledby="asignarpersonalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="asignarpersonalModalLabel">Seleccionar personal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> <i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usuarios">
                <td class="col-md-3"> {{ user.nombres }}</td>
                <td class="col-md-3">{{ user.apellidos }}</td>
                <td class="col-md-3">{{ user.nombreRol }}</td>
                <td class="col-md-3">
                  <div class="form-check modal-checkbox">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="user.seleccionar">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="seleccionarUsuarios()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal asignar mayeria prima -->

<div class="modal fade" id="asignarMateriaPrimaModal" tabindex="-1" aria-labelledby="asignarMateriaPrimaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="asignarMateriaPrimaModalLabel">Seleccionar materia prima</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> <i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Unidades totales</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materiasPrimas">
                <td class="col-md-3"> {{ materia.nombre }}</td>
                <td class="col-md-3">{{ materia.valor }}</td>
                <td class="col-md-3">{{ materia.unidades }}</td>
                <td class="col-md-3">
                  <div class="form-check modal-checkbox">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="materia.seleccionar">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="seleccionarMateriaPrima()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>