.recuperar-contrasena-titulo {
  background-color: #409BEB;
  height: 18vh;
  border-bottom: 2px solid #FFFFFF;
}

h1 {
  color: #FFFFFF;
}

.recuperar-contrasena-letter-spacing {
  letter-spacing: 6px;
}

.recuperar-contrasena-center {
  display: flex;
  align-items: center;
  justify-content: center;
}